{% extends "base.html" %}
{% block title %}Registration{% endblock %}
{% block content %}
<div class="container-fluid" style="padding-top: 50px;">
    <h1 style="font-size: 50px; text-align: center; margin-bottom: 20px;">Register</h1>
    <div class="panel panel-default center-block" style="max-width: 300px;">
        <div class="panel-body">
            <h3>Success!
            <br>
            <small> Thank you for registering.<br>
            </small>
            </h3>
            <br>
            <div class="row-fluid text-center">
                <a class="btn btn-default btn-md" href="/">Continue to login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
