<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Register</title>

<!--- Bootstrap CSS --->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="../../../build/css/login.css">

</head>

<body>

    <div class="container-fluid" style="padding-top: 50px;">
        <h1 style="font-size: 50px; text-align: center; margin-bottom: 20px;">Register</h1>
        <div class="panel panel-default center-block" style="max-width: 300px;">
            <div class="panel-body">
                <h4>Username</h4>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input type="text" class="form-control input-sm" placeholder="Username">
                </div>
                <h4>Email</h4>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                    <input type="text" class="form-control input-sm" placeholder="Email Address">
                </div>
                <h4>Password</h4>
                <div class="input-group" style="margin-bottom: 10px;">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <input type="text" class="form-control input-sm" placeholder="Password">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <input type="text" class="form-control input-sm" placeholder="Password again">
                </div>
                <br>
                <div class="row-fluid">
                    <button class="btn btn-default btn-md center-block">Register</button>
                </div>
            </div>

        </div>

    </div>
</body>

<footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"</script>
</footer>
</html>
