<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Register</title>

<!--- Bootstrap CSS --->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="../../../build/css/login.css">

</head>

<body>

    <div class="container-fluid" style="padding-top: 50px;">
        <h1 style="font-size: 50px; text-align: center; margin-bottom: 20px;">Register</h1>
        <div class="panel panel-default center-block" style="max-width: 300px;">
            <div class="panel-body">
                <h3>Success!
                <br>
                <small> Thank you for registering.<br>
                </small>
                </h3>
                <br>
                <div class="row-fluid text-center">
                    <button class="btn btn-default btn-md">Continue to login</button>
                </div>
            </div>
        </div>

    </div>
</body>

<footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"</script>
</footer>
</html>
