{% extends "base/base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}

<div class="container" style="padding-top: 70px;">
    <div class="row">
        <div class="col-xs-6 col-sm-8">
            <h1>
                <div id="originalId" style="display: inline-block;">
                    {{ public_id }}
                </div>

                {% if is_own_profile %}
                <form method='POST' style="display: inline-block;">{% csrf_token %}
                    {{ IDForm.public_id }}
                    <button type="submit" name="submitPublicId" id="savePublicId" class="btn btn-sm btn-success" style="display: none;">
                        Save
                    </button>
                </form>

                <small>
                    <a href="#" id="editPublicId">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </small>
                {% endif %}
            </h1>

            {% if is_authorized_to_view_id %}
            Private ID: {{ private_id }}
            {% endif %}
        </div>
    </div>

    <hr>

    <div class="container">
        <div class="tab-content">
            {% if earned_badges %}
                <!-- Display badge list -->
                <ul class="badge-list">
                {% for badge in earned_badges %}
                <li>
                    {% include "badge/profile_badge.html" %}
                </li>
                {% endfor %}
                </ul>
            {% else %}
            {% if is_own_profile %}
            <h4>You don't have any badges to make public yet!</h4>
            {% else %}
            <h4>This user has not made any badges public.</h4>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>

<script language="JavaScript">
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $( document ).ready(function() {
        var publicId = '{% filter escapejs %}{{ public_id|safe }}{% endfilter %}';
        $("#publicIdEditor").val(publicId);

        // Toggle the editor
        $("#editPublicId").click(function() {
          // toggle save button
          $("#savePublicId").toggle();
          $("#originalId").toggle();
          $("#publicIdEditor").toggle();
        });

        {% if is_own_profile %}
        // Modify all badges so that they're clickable objects.
        // On click: set badge as active/inactive, and propagate the change in the backend
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $('.badge-container').css('cursor', 'pointer');

        $('.badge-container').click(function() {
            let badgeObj = this;
            let badgeName = this.childNodes[1].childNodes[0].childNodes[3].innerHTML;
            $.ajax({
                url: document.location.href,
                type: 'POST',
                data: {
                    toggleBadgeVisibility: badgeName
                },
                dataType: 'text',
                success: function(res) {
                    if (res == "invisible") {
                        $(badgeObj).addClass("inactive-badge");
                    }
                    if (res == "visible") {
                        $(badgeObj).removeClass("inactive-badge");
                    }

                    console.log(badgeObj.classList);
                }
            });
        })
        {% endif %}
    });
</script>

{% include "base/nav.html" %}
{% endblock %}
