{% extends "base/base.html" %}
{% block title %}Registration{% endblock %}
{% block content %}

<div class="container-fluid" style="padding-top: 50px;">
    <h1 style="font-size: 50px; text-align: center; margin-bottom: 20px;">Register</h1>
    <div class="panel panel-default center-block" style="max-width: 300px;">
        <div class="panel-body">
            <form method="post" action=".">{% csrf_token %}
                <h4>Username</h4>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    {{ form.username }}
                </div>
                <h4>Email</h4>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                    {{ form.email }}
                </div>
                <h4>Password</h4>
                <div class="input-group" style="margin-bottom: 10px;">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    {{ form.password1 }}
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    {{ form.password2 }}
                </div>
                <br>
                <div class="row-fluid">
                    <button class="btn btn-default btn-md center-block" type="submit" value="Register">Register</button>
                </div>
            </form>
        </div>

        <div class="panel-footer clearfix">
            <small><a href="/">Back to login</a></small>
        </div>

    </div>

</div>
<!-- <form method="post" action=".">{% csrf_token %}
    <table border="0">
        {{ form.as_table }}
    </table>
    <input type="submit" value="Register" />
</form>
<hr> -->
<!-- <a href="/">Login</a> -->
{% endblock %}
