{% extends "base.html" %}

{% block title %}{{ community.tag }}{% endblock %}
{% block content %}

{% include "nav.html" %}

<div class="container" style="padding-top: 70px;">
    <div class="row">
        <div class="col-xs-6 col-sm-8">
            <h1 style="margin-bottom: 0px;">{{ community.name }}
                {% if is_member %}
                    {% if is_moderator %}
                        <small style="margin-left: 10px; font-size: 45%;">
                            0 available
                        </small>
                    {% else %}
                        <small style="margin-left: 10px; font-size: 45%;">
                            0/0 earned
                        </small>
                    {% endif %}

                {% endif %}
            </h1>
            {% if is_member %}
                <form>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" placeholder="Search badges">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            {% if is_moderator %}
                                <label class="checkbox-inline"><input type="checkbox" value="">Available</label>
                                <label class="checkbox-inline"><input type="checkbox" value="">Unavailable</label>
                            {% else %}
                                <label class="checkbox-inline"><input type="checkbox" value="">Earned</label>
                                <label class="checkbox-inline"><input type="checkbox" value="">In Progress</label>
                            {% endif %}
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
        <div class="col-xs-6 col-sm-4">
            {% if is_member %}
                <ul class="nav nav-pills pull-right nav-stacked" style="text-align: right;">
                    {% if is_moderator %}
                        <!-- Moderator Tools -->
                        <li class="active" style="text-align: right;">
                          <a data-toggle="tab" href="#viewBadges" style="padding: 5px 7.5px;">Manage Badges</a>
                        </li>
                        <li class="">
                          <a data-toggle="tab" href="#manageUsers" style="padding: 5px 7.5px;">Manage Users</a>
                        </li>
                        <li class="">
                          <a data-toggle="tab" href="#aboutCommunity" style="padding: 5px 7.5px;">Community Settings</a>
                        </li>
                    {% else %}
                        <li class="active" style="text-align: right;">
                          <a data-toggle="tab" href="#viewBadges" style= "padding: 5px 7.5px;">View Badges</a>
                        </li>
                        <li class="">
                          <a data-toggle="tab" href="#aboutCommunity" style= "padding: 5px 7.5px;">About Community</a>
                        </li>
                    {% endif %}
                </ul>
            {% else %}
                <button class="btn btn-success pull-right" style="margin-top: 25px;">Join community</button>
            {% endif %}
        </div>
    </div>
    <hr>

    <div class="tab-content">
        {% if is_member %}
            <div id="viewBadges" class="tab-pane fade in active">
                <!-- Badge List (WIP) -->
                 {% comment %}
                 {% include "badge_list.html" %} 
                 {% endcomment %}

                <h3>This community does not have any badges yet.</h3>
            </div>
            <div id="aboutCommunity" class="tab-pane fade in">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 style="margin-top: 0px;">Description</h3>
                        {{ community.description }}
                    </div>
                    <div class="col-sm-6">
                        <h3 style="margin-top: 0px;">Is private</h3>
                        {{ community.is_private }}
                        <h3>Created on</h3>
                        {{ community.created_on }}
                    </div>
                </div>
            </div>
            {% if is_moderator %}
                <div id="manageUsers" class="tab-pane fade in">
                    <h3>Members</h3>
                    <div class="container">
                        <div class="table-responsive">
                            <table class="table table-condensed table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Last Name</th>
                                        <th>User Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for member in all_members %}
                                        <tr>
                                            <td>{{ member.username }}</td>
                                            <td>{{ member.last_name }}</td>
                                            <td>{{ member.is_moderator }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}

        {% else %}
            <div class="row">
                <div class="col-sm-6">
                    <h3 style="margin-top: 0px;">Description</h3>
                    {{ community.description }}
                </div>
                <div class="col-sm-6">
                    <h3 style="margin-top: 0px;">Is private</h3>
                    {{ community.is_private }}
                    <h3>Created on</h3>
                    {{ community.created_on }}
                </div>
            </div>
        {% endif %}

    </div>

</div>
{% endblock %}
