<div class="container" style="padding-top: 70px;">
    <div class="row">
        <div class="col-xs-6 col-sm-8">
            <h1 style="margin-bottom: 0px;">{{ community.name }}
                <small style="margin-left: 10px; font-size: 45%;">
                    0 available
                </small>
            </h1>

            <form>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" placeholder="Search badges&hellip;">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="checkbox-inline"><input type="checkbox" value="">Available</label>
                        <label class="checkbox-inline"><input type="checkbox" value="">Unavailable</label>
                    </div>
                </div>
            </form>


        </div>
        <div class="col-xs-6 col-sm-4">
            <ul class="nav nav-pills pull-right nav-stacked" style="text-align: right;">
                <li class="active" style="text-align: right;">
                  <a data-toggle="tab" href="#viewBadges" style="padding: 5px 7.5px;">Manage Badges</a>
                </li>
                <li class="">
                  <a data-toggle="tab" href="#manageUsers" style="padding: 5px 7.5px;">Manage Users</a>
                </li>
                <li class="">
                  <a data-toggle="tab" href="#aboutCommunity" style="padding: 5px 7.5px;">Community Settings</a>
                </li>

            </ul>
        </div>
    </div>

    <hr>
    <div class="container">
        <div class="tab-content">
            <div id="viewBadges" class="tab-pane fade in active">

                <!-- Button HTML (to Trigger Modal) -->
                <a href="#addBadge" role="button" class="btn btn-large btn-primary" data-toggle="modal">Create a New Badge</a>

                <!-- Modal HTML -->
                <div id="addBadge" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h3 class="modal-title">New Badge</h3>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <h4>Badge Name</h4>
                                        <input class="form-control input-sm"></input>
                                        <h4>Badge Description</h4>
                                        <textarea class="form-control"></textarea>
                                    </div>
                                    <div class="col-xs-4">
                                      <input class="hidden" type="file" style="margin-left:20%;" placeholder="Picture" id="badgeImageUpload"></input>
                                      <img class="img-thumbnail" id="badgeImage" style="width:150px;height:150px"></img>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Add Badge</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% comment "Badge List" %}
                    <!-- Display badge list -->
                    <ul class="badge-list">
                        <!--
                            For each badge in the community, create a new badge.html instance (wrapped in <li>).
                            Variable names used here are rudimentary; change them as needed.
                            Refer to login/badge_list_sample.html for an example. :)

                            Variables
                            =========
                            image:    link to the badge image
                            name:     name of the badge
                            desc:     badge description
                            f_left:   left side of the footer (e.g. date created)
                            f_right:  right side of the footer (e.g. progress %)
                         -->
                        <li>{% include "badge.html" with image=badge.img name=badge.name desc=badge.desc f_left=badge.date_created f_right=badge.progress %}</li>
                    </ul>
                {% endcomment %}
            </div>
            <div id="aboutCommunity" class="tab-pane fade in">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 style="margin-top: 0px;">
                            Description
                            <small><a href="#" id="editDescription">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a></small>
                        </h3>
                        <div id="originalDescription">
                            {{ community.description|linebreaksbr }}
                        </div>
                        <form method='POST'>{% csrf_token %}
                            {{ CDForm.description }}
                            <div class="row-fluid" style="margin-top: 10px;">
                                <button type="submit" id="saveDescription" class="btn btn-sm btn-success" style="display: none;">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                    <hr class="visible-xs">
                    <div class="col-sm-3">
                        <h3 style="margin-top: 0px;">
                            Is private
                            <small><a href="#" id="editPrivacy">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a></small>
                        </h3>
                        <div id="originalPrivacy">
                        {{ community.is_private }}
                        </div>
                        <form method='POST'>{% csrf_token %}
                            {{ CPForm.privacy }}
                            <div class="row-fluid">
                                <button type="submit" name='changePrivacySubmit' id="savePrivacy" class="btn btn-sm btn-success" style="display: none; margin-top: 10px;">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                    <hr class="visible-xs">
                    <div class="col-sm-3">
                        <h3 style="margin-top: 0px;">Created on</h3>
                        {{ community.created_on }}
                    </div>
                </div>
            </div>

            <div id="manageUsers" class="tab-pane fade in">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#manageMembers">Members</a></li>
                    <li><a data-toggle="tab" href="#manageInvites">Invites</a></li>
                    <li><a data-toggle="tab" href="#manageApplications">Applications</a></li>
                </ul>
                <div class="tab-content">

                    <div id="manageMembers" class="tab-pane fade in active">
                        <div class="table-responsive">
                            <table id="membersTable" class="table table-condensed table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>User Type</th>
                                        <th>Joined On</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for member in all_members %}
                                        <tr>
                                            <td>{{ member.user }}</td>
                                            <td>{{ member.user.email }}</td>
                                            <td>
                                                {% if member.is_moderator %}
                                                    moderator
                                                {% else %}
                                                    earner
                                                {% endif %}
                                            </td>
                                            <td>{{ member.joined_on }}</td>
                                            <td>
                                                <button class="btn btn-xs btn-default" href="#assignBadge{{ member.id }}" data-toggle="modal">
                                                    <span class="glyphicon glyphicon-briefcase"></span>
                                                </button>

                                                <div id="assignBadge{{ member.id }}" class="modal fade">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                <h3 class="modal-title">Change {{ member.user }}'s badges</h3>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h4>There are no available badges to assign or revoke...</h4>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                                                                <button type="button" class="btn btn-primary">Confirm</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <button class="btn btn-xs btn-default" href="#changeSettings{{ member.id }}" data-toggle="modal">
                                                    <span class="glyphicon glyphicon-cog"></span>
                                                </button>
                                                <form action="" method="post">{% csrf_token %}
                                                    <div id="changeSettings{{ member.id }}" class="modal fade">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                        <h3 class="modal-title">Change {{ member.user }}'s settings</h3>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <h4>Permissions</h4>

                                                                        {{ UPForm.permissions }}

                                                                        {% if member.user.username == username %}
                                                                            <hr>
                                                                            <div class="alert alert-warning">
                                                                                <strong>Warning!</strong><br/>Setting your own permissions to 'earner' will revoke
                                                                                your moderator privileges.
                                                                            </div>
                                                                        {% endif %}
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                                                                        <input type="hidden" value="{{ member.user.id }}" name="member">
                                                                        <input type="submit" class="btn btn-primary" name="permissionSubmit" value="Save"></input>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    </div>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="manageInvites" class="tab-pane fade in">
                        <div class="table-responsive">
                          <table id="invitesTable" class="table table-condensed table-striped table-hover">
                              <thead>
                                  <tr>
                                      <th>Recipient</th>
                                      <th>Email</th>
                                      <th>On-Join Permissions</th>
                                      <th>Created On</th>
                                      <th>Sender</th>
                                      <th>Status</th>
                                      <th>Actions</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for invite in all_invitations %}
                                      <tr>
                                          <td>{{ invite.recipient }}</td>
                                          <td>{{ invite.recipient.email }}</td>
                                          <td>
                                              {% if invite.to_be_moderator %}
                                                  moderator
                                              {% else %}
                                                  earner
                                              {% endif %}
                                          </td>
                                          <td>{{ invite.created_on }}</td>
                                          <td>{{ invite.sender }}</td>
                                          {% if invite.recipient in invite.community.members.all %}
                                              <td>joined</td>
                                              <td></td>
                                          {% else %}
                                              <td>pending</td>
                                              <td>
                                                  <div class="row-fluid">
                                                      <div class="col-xs-1" style="padding-left: 0px;">
                                                          <button class="btn btn-xs btn-default" href="#changeSettings{{ invite.recipient.id }}" data-toggle="modal">
                                                              <span class="glyphicon glyphicon-cog"></span>
                                                          </button>
                                                          <form action="" method="post">{% csrf_token %}
                                                              <div id="changeSettings{{ invite.recipient.id }}" class="modal fade">
                                                                      <div class="modal-dialog">
                                                                          <div class="modal-content">
                                                                              <div class="modal-header">
                                                                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                                  <h3 class="modal-title">Set {{ invite.recipient }}'s settings for join-time</h3>
                                                                              </div>
                                                                              <div class="modal-body">
                                                                                  <h4>Permissions</h4>

                                                                                  {{ UPForm.permissions }}

                                                                              </div>
                                                                              <div class="modal-footer">
                                                                                  <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                                                                                  <input type="hidden" value="{{ invite.recipient.id }}" name="invited">
                                                                                  <input type="submit" class="btn btn-primary" name="invitedPermissionSubmit" value="Save"></input>
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                                  </div>

                                                              </form>
                                                          </div>
                                                      <div class="col-xs-1" style="padding-right: 0px;">
                                                          <button type="submit" class="btn btn-xs btn-default" value="{{ invite.recipient.id }}" name="revokeInvite">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                          </button>
                                                      </div>
                                                  </div>
                                              </td>
                                          {% endif %}
                                      </tr>
                                  {% endfor %}
                              </tbody>
                          </table>
                      </div>

                        <button href="#userInvite" class="btn btn-default center-block" data-toggle="modal"> Invite a user </button>
                        <div id="userInvite" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h3 class="modal-title">Invite users</h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div id="error_div"></div>
                                                <form method="POST" id="addUser">{% csrf_token %}
                                                    <div class="input-group">
                                                        {{ USForm.username }}
                                                        <!-- <input id="user-name" type="text" class="form-control" placeholder="Add user&hellip;"> -->
                                                        <span class="input-group-btn">
                                                            <button type="submit" name='inviteUsersSubmit' class="btn btn-default">
                                                                <span class="glyphicon glyphicon-plus"></span>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <form action="" method="POST">{% csrf_token %}
                                        <div class="container-fluid">
                                            <table id="userInvites" class="table table-condensed table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>User</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                                            <button type="submit" name="inviteSubmit" class="btn btn-primary">Invite users</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="manageApplications" class="tab-pane fade in">
                        <div class="table-responsive">
                            <table id="applicationsTable" class="table table-condensed table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Applicant</th>
                                        <th>Email</th>
                                        <th>Created On</th>
                                        <th>Accepted By</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for application in applications %}
                                        <tr>
                                            <td>{{ application.applicant }}</td>
                                            <td>{{ application.applicant.email }}</td>
                                            <td>{{ application.created_on }}</td>
                                            <td>{{ application.accepted_by }}</td>
                                            <td>
                                                {% if not application.accepted_by %}
                                                    <form action="" method="post">{% csrf_token %}
                                                        <button type="submit" class="btn btn-xs btn-default" value="{{ application.applicant.id }}" name="acceptApplication">
                                                            <span class="glyphicon glyphicon-ok"></span>
                                                        </button>
                                                    </form>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<style>
  /* For the JQuery plugin 'datatables', local */
  .table-responsive .row {
    margin-top: 10px !important;
  }
</style>

<!-- Invite user script and AJAX -->
<script language="JavaScript">
$( document ).ready(function() {
    var usersAdded = [];
    // This wont work in a form with two submit buttons !!!
    $('#addUser').submit(function() { // catch the form's submit event
        $.ajax({ // create an AJAX call...
            data: $(this).serialize(), // get the form data
            type: $(this).attr('method'), // GET or POST
            url: $(this).attr('action'), // the file to call

            success: function(response) { // on success..
                if (response.constructor == {}.constructor) {
                   // some error message TODO: maybe there's a more delicate way to do this
                    $.each( response, function( key, value ) {
                      $('#error_div').html('<div class="alert alert-danger">'+value+'</div>');
                    });
                } else {
                    // valid input
                    if (usersAdded.indexOf(response) > -1) { // if user already added this user
                      $('#error_div').html('<div class="alert alert-danger">You already added this user.</div>');
                    } else { // if didn't add user yet
                      // clear error message
                      $('#error_div').html('');
                      // add to table
                      $('#userInvites tbody').append("<tr><td id='user'>" +
                      "<input type='hidden' value='"+ response +"' name='addedUser'>" + response +
                      "</td><td>" +
                      "<button id='removeUser' class='btn btn-default btn-xs pull-right'>" +
                      "<span class='glyphicon glyphicon-remove'></span>" +
                      "</button>" +
                      "</td></tr>");
                      usersAdded.push(response);
                    }
                }
            }
        });
        return false;
    });

    // Remove user from list of invited users
    $("tbody").on("click","#removeUser", function() {
        userIndex = usersAdded.indexOf($(this).closest('td').siblings('#user').text())
        if (userIndex > -1) {
          usersAdded.splice(userIndex, 1);
        }
        $(this).closest('tr').remove();
    });
});
</script>

<!-- Community settings scripts -->
<script language="JavaScript">
$( document ).ready(function() {
    var communityDescription = '{% filter escapejs %}{{ community.description|safe }}{% endfilter %}';
    $("#descriptionEditor").val(communityDescription);

    // Toggle the editor
    $("#editDescription").click(function() {
      // toggle save button
      $("#saveDescription").toggle();
      // toggle existing description
      $("#originalDescription").toggle();
      // toggle description editor
      $("#descriptionEditor").toggle();
    });

    // Toggle the select
    $("#editPrivacy").click(function() {
      // toggle save button
      $("#savePrivacy").toggle();
      // toggle existing description
      $("#originalPrivacy").toggle();
      // toggle description editor
      $("#privacyEditor").toggle();
    });

});
</script>

<!--  'Datatable' scripts and styling (local) -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.js"></script>
<script>
$(document).ready(function() {
    // Instantiating 'datatable' objects for orderby/searching
    $('#membersTable').DataTable();
    $('#invitesTable').DataTable();
    $('#applicationsTable').DataTable();
} );
</script>

<script>
    $('#badgeImage').click(function(){
        $('#badgeImageUpload').trigger('click');
    });

    document.getElementById("badgeImageUpload").onchange = function () {
        var reader = new FileReader();

        reader.onload = function (e) {
            // get loaded data and render thumbnail.
            document.getElementById("badgeImage").src = e.target.result;
        };

        // read the image file as a data URL.
        reader.readAsDataURL(this.files[0]);
    };
</script>
