<div class="container" style="padding-top: 70px;">
    <div class="row">
        <div class="col-xs-6 col-sm-8">
            <h1 style="margin-bottom: 0px;">{{ community.name }}
            </h1>
        </div>
        <div class="col-xs-6 col-sm-4">
            <form method="post" action="">{% csrf_token %}
                {% if has_applied %}
                    <button name="communityJoin" type="submit" class="btn btn-default pull-right" style="margin-top: 25px;">Cancel application</button>
                {% elif not community.is_private or is_invited %}
                    <button name="communityJoin" type="submit" class="btn btn-success pull-right" style="margin-top: 25px;">Join community</button>
                {% else %}
                    <button name="communityJoin" type="submit" class="btn btn-default pull-right" style="margin-top: 25px;">Apply to join</button>
                {% endif %}
            </form>
        </div>
    </div>

    <hr>
    <div class="container">
        <div class="tab-content">
            <div class="row-fluid">
                <div class="col-sm-8">
                    <h3 style="margin-top: 0px;">Description</h3>
                    {{ community.description }}
                </div>
                <hr class="visible-xs">
                <div class="col-sm-4">
                    <h3 style="margin-top: 0px;">Is private</h3>
                    {{ community.is_private }}
                    <h3>Created on</h3>
                    {{ community.created_on }}
                </div>
            </div>
        </div>
    </div>

</div>
