<table class="badge-container">
    <tr>
        <td rowspan="2" class="badge-image-container">
            <div class="badge-image"></div>
        </td>
        <td class="badge-name">Rainbow Badge</td>
    </tr>
    <tr>
        <td class="badge-description"> {% lorem %} </td>
    </tr>
    <tr>
        <td colspan="2" class="badge-footer">Created February 1, 2015</td>
    </tr>
</table>
<!--     <div class="badge-image"></div>
    <div class="badge-name">Rainbow Badge</div>
    <div class="badge-description"> {% lorem %}</div>
    <div class="badge-footer">Created February 1, 2015</div>
</div> -->
<!-- 
<div class="badge-list">
    <div class="row">
        <div class="badge-container">hiii</div>
        <div class="badge-container">hiii</div>
        <div class="badge-container">hiii</div>
    </div>
    <div class="row">
        <div class="badge-container">hiii</div>
        <div class="badge-container">hiii</div>
        <div class="badge-container">hiii</div>
    </div>
</div> -->