{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block content %}

{% include "nav.html" %}

<div class="container" style="padding-top: 70px;">

    <h1>My badges <small style="margin-left: 10px; font-size: 45%;">0 earned, 0 in progress</small></h1>
    <form>
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" placeholder="Search badges&hellip;">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
            <div class="col-xs-6 col-md-8">
              <label class="checkbox-inline"><input type="checkbox" value="">Hide Earned</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Hide in Progress</label>
            </div>
        </div>
    </form>
    <hr>

    <!-- {% if mod_communities %}
        <u>Moderator communities:</u>
        <ul>
            {% for community in mod_communities %}
                <li><a href="{% url 'community' community.tag %}">{{ community.tag }}</a></li>
            {% endfor %}
        </ul>
    {% endif %} -->

    <!--
    <u>Earner communities:</u> -->

    {% if earner_communities %}
        {% for community in earner_communities %}
            <h2><a href="{% url 'community' community.tag %}">{{ community.tag }} </a><small style="margin-left: 10px; font-size: 45%;">0 earned, 0 in progress</small></h2>
                <div class="container">
                    <h4>This community does not have any badges yet...</h4>
                </div>
            <hr>
        {% endfor %}
    {% else %}
        <div class="container">
            <h2><small>You're not in any communities yet...</small></h2>
        </div>
    {% endif %}

</div>

{% endblock %}