/*
    I heard you like CSS, so we put some CSS to override Bootstrap CSS.
    Bootstrap CSS can be found here: /static/bootstrap/css/bootstrap.css
*/

body {
    background-color: #F4F6F8;
}

a.hover, a.focus {
    text-decoration: none;
}

hr {
    width:100%; 
    height:1px; 
    background: #cdcdcd;
}

.navbar-default {
    background-color: #001C2E;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    color: #eaedef;
}

.navbar-default .navbar-nav > li > a {
    -webkit-transition: background 0.5s ease;   /* bg-color fade */
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
    color: #eaedef;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #70828A;      /* bg-color change upon hover */
    color: #eaedef;
}

/* Badge List */
.badge-list {
    display: table;
    width: 95%;
    margin: auto;
    background-color: transparent;
    border-collapse: separate;
    border-spacing: 2px;

    color: #001C2E;
}


.badge-container {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
    background-color: #ffffff;
    width: 33%;
    max-width: 350px;

    border-spacing: 10px;
    border-collapse: separate;

    overflow: auto;
}

.badge-image-container {
    vertical-align: top;
}

.badge-image {
    width: 100px;
    height: 100px;
    background-color: #eeeeee;
}

.badge-name {
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid black;
}

.badge-description {

}

.badge-footer {
    border-top: 1px solid black;
    position: relative;
    bottom: 0px;
}

.badge-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.badge-list > .row > .badge-container {
    background-color: #fff;
    color: #000;
}