<div class="container" style="padding-top: 70px;">
    <div class="row">
        <div class="col-xs-6 col-sm-8">
            <h1 style="margin-bottom: 0px;">{{ community.name }}
            </h1>
        </div>
        <div class="col-xs-6 col-sm-4">
            {% block navpills %}
            {% endblock %}
        </div>
    </div>

    <hr>

    <div class="container">
        <div class="tab-content">
            {% block badges %}
            {% endblock %}

            {% block members %}
            {% endblock %}

            <div id="aboutCommunity" class="tab-pane fade in {% if not is_member %}active{% endif %}">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 style="margin-top: 0px;">
                            Description
                            {% block editdescriptionglyph %}
                            {% endblock %}
                        </h3>
                        <div id="originalDescription">
                            {{ community.description|linebreaksbr }}
                        </div>
                        {% block editdescriptionform %}
                        {% endblock %}
                    </div>
                    <hr class="visible-xs">
                    <div class="col-sm-3">
                        <h3 style="margin-top: 0px;">
                            Is private
                            {% block editprivacyglyph %}
                            {% endblock %}
                        </h3>
                        <div id="originalPrivacy">
                        {{ community.is_private }}
                        </div>
                        {% block editprivacyform %}
                        {% endblock %}
                    </div>
                    <hr class="visible-xs">
                    <div class="col-sm-3">
                        <h3 style="margin-top: 0px;">Created on</h3>
                        {{ community.created_on }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block moderatorfooter %}
{% endblock %}
