{% extends "community/community_content.html" %}
{% load instances %}

                <!-- <small style="margin-left: 10px; font-size: 45%;">
                    0/0 earned
                </small> -->
<!--
            <form>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" placeholder="Search badges&hellip;">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="checkbox-inline"><input type="checkbox" value="">Earned</label>
                        <label class="checkbox-inline"><input type="checkbox" value="">In Progress</label>
                    </div>
                </div>
            </form> -->



{% block navpills %}
    <ul class="nav nav-pills pull-right nav-stacked" style="text-align: right;">
            <li class="active" style="text-align: right;">
              <a data-toggle="tab" href="#viewBadges" style= "padding: 5px 7.5px;">View Badges</a>
            </li>
            <li class="">
              <a data-toggle="tab" href="#aboutCommunity" style= "padding: 5px 7.5px;">About Community</a>
            </li>
    </ul>
{% endblock %}

{% block badges %}
    <div id="viewBadges" class="tab-pane fade in active">
        {% if all_avail_badges.count > 0 %}
            <ul class="badge-list">
            {% for badge in all_avail_badges %}
                <li>
                  {% if user in badge.instances.all %}
                      {% include "badge/badge.html" with available=True %}
                  {% else %}
                      {% include "badge/badge.html" with available=False %}
                  {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <h4>This community has no available badges...</h4>
        {% endif %}
    </div>
{% endblock %}
