{% extends "community/community_content.html" %}

{% block navpills %}
    <form method="post" action="">{% csrf_token %}
        {% if has_applied %}
            <button name="communityJoin" type="submit" class="btn btn-default pull-right" style="margin-top: 25px;">Cancel application</button>
        {% elif not community.is_private or is_invited %}
            <button name="communityJoin" type="submit" class="btn btn-success pull-right" style="margin-top: 25px;">Join community</button>
        {% else %}
            <button name="communityJoin" type="submit" class="btn btn-default pull-right" style="margin-top: 25px;">Apply to join</button>
        {% endif %}
    </form>
{% endblock %}
