/*
    I heard you like CSS, so we put some CSS to override Bootstrap CSS.
    Bootstrap CSS can be found here: /static/bootstrap/css/bootstrap.css
*/

body {
    background-color: #F4F6F8;
}

a.hover, a.focus {
    text-decoration: none;
}

hr {
    width:100%;
    height:1px;
    background: #cdcdcd;
}

.navbar-default {
    background-color: #001C2E;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    color: #eaedef;
}

.navbar-default .navbar-nav > li > a {
    -webkit-transition: background 0.5s ease;   /* bg-color fade */
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
    color: #eaedef;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #70828A;      /* bg-color change upon hover */
    color: #eaedef;
}

/* Badge List */
.badge-list {
    list-style-type: none;
    position: relative;
    margin: auto;
    background-color: transparent;
    border-collapse: separate;
    border-spacing: 2px;
    width: 100%;
    padding: 0;
    color: #001C2E;
}

/* Display badges like a 3-column table. */
.badge-list > li {
    display: inline-table;
    margin: 5px 2px 5px 2px;
    vertical-align: top;
}

.badge-container {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
    background-color: #ffffff;
    width: 350px;
    height: 200px;
    border-spacing: 10px;
    border-collapse: separate;
    overflow: hidden;
}

.badge-image-container {
    vertical-align: top;
}

.badge-image {
    width: 100px;
    height: 100px;
    background-color: #eeeeee;
}

/* Resize badge images */
.badge-image > img {
    width: 100%;
}

.badge-name {
    vertical-align: top;
    width: 100%;
    height: 20px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid #cdcdcd;
}

.badge-description {
    vertical-align: top;
    display: block;
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

.badge-footer {
    border-top: 1px solid #cdcdcd;
    vertical-align: bottom;
    bottom: 0px;
    position: relative;
    height: 20px;
    width: 100%;
}

.badge-footer-left {
    text-align: left;
    float:left;
}

.badge-footer-right {
    text-align: right;
    float: right;
}

.inactive-badge {
    -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.2);
    box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.inactive-badge, .inactive-badge * {
    background-color: #d0d0d0;
    border-color: #ABABAB;
    color: #343B40;
    filter: grayscale(1);
}

/* Badge hover */
.badge-overlay {
    opacity: 0;
    z-index: 1;
    position: absolute;
    width: 350px;
    height: 200px;
    background-color: rgba(6, 9, 15, 0.8);
    overflow: hidden;

    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.badge-overlay:hover {
    opacity: 1;

    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.badge-overlay-content {
    width: 100%;
    height: 100%;
    color: #fff;
    position: relative;
    margin: auto;
    padding-top: 66px;
}

.badge-overlay-content > ul {
    list-style-type: none;
    position: relative;
    margin: auto;
    width: 100%;
}

.badge-overlay-content > ul > li {
    display: inline-table;
    margin: 0 0 0 2.5px;
    width: 60px;
    text-align: center;
    overflow: hidden;

    -ms-transform: scale(1, 1); /* IE 9 */
    -webkit-transform: scale(1, 1); /* Safari */
    transform: scale(1, 1);
    -webkit-transition: transform .25s ease,
                        fill .25s ease,
                        color .25s ease;
    -moz-transition: transform .25s ease,
                        fill .25s ease,
                        color .25s ease;
    transition: transform .25s ease,
                        fill .25s ease,
                        color .25s ease;

    fill: #bbb;
    color: #bbb;
}

.badge-overlay-content > ul > li:hover {
    -ms-transform: scale(1.25, 1.25); /* IE 9 */
    -webkit-transform: scale(1.25, 1.25); /* Safari */
    transform: scale(1.25, 1.25);
    -webkit-transition: transform .25s ease,
                        fill .25s ease,
                        color .25s ease;
    -moz-transition: transform .25s ease,
                        fill .25s ease,
                        color .25s ease;
    transition: transform .25s ease,
                        fill .25s ease,
                        color .25s ease;
}

/* Edit */
#badge-overlay-edit:hover {
    fill: #51FF3D;
    color: #51FF3D;
}

/* Set */
#badge-overlay-visible:hover {
    fill: #F6FF00;
    color: #F6FF00;
}

/* Assign */
#badge-overlay-assign:hover {
    fill: #40F5FF;
    color: #40F5FF;
}

/* Delete */
#badge-overlay-delete:hover {
    fill: #FF3D3D;
    color: #FF3D3D;
}

.badge-overlay-icon {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin: auto;
    background-color: #000;
}

.badge-overlay-title {
    margin-top: 2px;
    font-size: 12px;
}

/* "Create a New Badge" button */
.new-badge-container {
    -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.2);
    box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.2);
    background-color: #fff;
    width: 350px;
    height: 200px;
    border-spacing: 0px;
    border-collapse: separate;
    overflow: hidden;

    -webkit-transition: background-color .5s ease,
                        color .5s ease;
    -moz-transition: background-color .5s ease,
                        color .5s ease;
    transition: background-color .5s ease,
                        color .5s ease;
}

.new-badge-container:hover {
    background-color: #1d2738;
    color:#fff;

    -webkit-transition: background-color .5s ease,
                        color .5s ease;
    -moz-transition: background-color .5s ease,
                        color .5s ease;
    transition: background-color .5s ease,
                        color .5s ease;
}

.new-badge-outer {
    position: relative;
}

.new-badge-title {
    width: 100%;
    position: absolute;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    top: 43px;
}

.new-badge-plus {
    width: 100%;
    position: absolute;
    font-size: 100px;
    text-align: center;
    top: 25px;
}
