body {
    background-color: #F4F6F8;
}

a.hover, a.focus {
    text-decoration: none;
}

hr {
    width:100%;
    height:1px;
    background: #cdcdcd;
}

/* Tooltip for action icons (e.g. Accept Invitation, Set Permissions) */
.icon-desc {
    border-radius: 3px;
    margin: auto;
    position: absolute;
    margin-top: -47px;
    margin-left: 25px;
    z-index: 1;

    padding: 2px 5px 2px 5px;

    padding-left: 5px;
    padding-right: 5px;

    text-align: center;
    color: #eeeeee;
    
    opacity: 0;
    background-color: transparent;

    visibility: hidden;

    -webkit-transition: visibility 0s ease, background .3s ease, opacity .3s ease;
    -moz-transition: visibility 0s ease, background .3s ease, opacity .3s ease;
    transition: visibility 0s ease, background .3s ease, opacity .3s ease;
}

/* Container for action icons and their tooltips */
.icon-container {
    display: inline-block;
}

/* Default styling for the navbar */
.navbar-default .navbar-brand {
    font-family: 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-weight: 100;
    font-size: 22px;
    top: -2px;
    color: #eaedef;
    display: inline;
    position: absolute;
}

.navbar-default .navbar-brand:hover {
    color: #eaedef;
}

/* Logo (image) */
.navbar-brand > img {
    display: inline;
    position: relative;
    top: -6px;
    margin-right: 1px;
    width: 40px;
}

.navbar-default {
    background-color: #001C2E;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    color: #eaedef;
}

.navbar-default .navbar-nav > li > a {
    -webkit-transition: background 0.5s ease;   /* bg-color fade */
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
    color: #eaedef;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #70828A;      /* bg-color change upon hover */
    color: #eaedef;
}

/* Search bar icon */
.navbar-search-icon {
    background-color: #000;
    color: #fff;
    border-color: #aaaaaa;

    -webkit-transition: background 0.25s ease;   /* bg-color fade */
    -moz-transition: background 0.25s ease;
    -ms-transition: background 0.25s ease;
    -o-transition: background 0.25s ease;
    transition: background 0.25s ease;
}

.navbar-search-icon:hover {
    background-color: #70828A;
    color: #fff;
    border-color: #aaaaaa;

    -webkit-transition: background 0.25s ease;   /* bg-color fade */
    -moz-transition: background 0.25s ease;
    -ms-transition: background 0.25s ease;
    -o-transition: background 0.25s ease;
    transition: background 0.25s ease;
}

/* Search bar container */
#communitySearch {
    margin-top: 15px;
    margin-right: 15px;
}

/* Search bar input */
#communitySearch > input {
    display: inherit;
    width: 200px;
    background-color: #000;
    color: #eaedef;
    border-color: #546A78;
    font-size: 14px;
}

/* Accounting for mobile display */
@media (min-width: 768px) {
    #communitySearch {
    margin-top: 10px;
    }
    #communitySearch > .input-group-btn {
    width: inherit;
    }

    .icon-container:hover > .icon-desc {
        opacity: 1;

        visibility: visible;

        background-color: #001C2E;
        color: #fff;

        -webkit-transition: visibility 0s ease, background .3s ease, opacity .3s ease;
        -moz-transition: visibility 0s ease, background .3s ease, opacity .3s ease;
        transition: visibility 0s ease, background .3s ease, opacity .3s ease;
    }

    .description {
        display: none;
    }
}

@media (max-width: 767px) {
    #communitySearch {
    margin-bottom: 10px;
    margin-left: 15px;
    }
    #communitySearch > input {
    width: 100%;
    }
    #communitySearch > .input-group-btn {
    width: 1%;
    }
}

/* Badge List */
.badge-list {
    list-style-type: none;
    position: relative;
    margin: auto;
    background-color: transparent;
    border-collapse: separate;
    border-spacing: 2px;
    width: 100%;
    padding: 0;
    color: #001C2E;
}

/* Display badges like a 3-column table */
.badge-list > li {
    display: inline-table;
    margin: 5px 2px 5px 2px;
    vertical-align: top;
}

/* Container to hold the contents of a badge */
.badge-container {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
    background-color: #ffffff;
    width: 350px;
    height: 200px;
    border-spacing: 10px;
    border-collapse: separate;
    overflow: hidden;
}

/* Container for the badge image */
.badge-image-container {
    vertical-align: top;
}

.badge-image {
    width: 100px;
    height: 100px;
    background-color: #eeeeee;
}

/* Resize badge images */
.badge-image > img {
    width: 100%;
}

.badge-name {
    vertical-align: top;
    width: 100%;
    height: 20px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid #cdcdcd;
}

.badge-description {
    vertical-align: top;
    display: block;
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

.badge-footer {
    border-top: 1px solid #cdcdcd;
    vertical-align: bottom;
    bottom: 0px;
    position: relative;
    height: 20px;
    width: 100%;
}

.badge-footer-left {
    text-align: left;
    float:left;
}

.badge-footer-right {
    text-align: right;
    float: right;
}

/* Styling for "inactive" badges */
.inactive-badge {
    -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.2);
    box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.2);
}

/* Set inactive badges to grayscale */
.inactive-badge, .inactive-badge * {
    background-color: #d0d0d0;
    border-color: #ABABAB;
    color: #343B40;
    filter: grayscale(1);
}

/* Overlay for moderators when hovered over a badge */
.badge-overlay {
    opacity: 0;
    z-index: 1;
    position: absolute;
    width: 350px;
    height: 200px;
    background-color: rgba(6, 9, 15, 0.8);
    overflow: hidden;

    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.badge-overlay:hover {
    opacity: 1;

    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.badge-overlay-content {
    width: 100%;
    height: 100%;
    color: #fff;
    position: relative;
    margin: auto;
    padding-top: 66px;
}

.badge-overlay-content > ul {
    list-style-type: none;
    position: relative;
    margin: auto;
    width: 100%;
}

.badge-overlay-content > ul > li {
    display: inline-table;
    text-align: center;
    overflow: hidden;

    -ms-transform: scale(1, 1); /* IE 9 */
    -webkit-transform: scale(1, 1); /* Safari */
    transform: scale(1, 1);
    -webkit-transition: transform .25s ease,
                        fill .25s ease,
                        color .25s ease;
    -moz-transition: transform .25s ease,
                        fill .25s ease,
                        color .25s ease;
    transition: transform .25s ease,
                        fill .25s ease,
                        color .25s ease;

    fill: #bbb;
    color: #bbb;
}

.badge-overlay-content > ul > li:hover {
    -ms-transform: scale(1.25, 1.25); /* IE 9 */
    -webkit-transform: scale(1.25, 1.25); /* Safari */
    transform: scale(1.25, 1.25);
    -webkit-transition: transform .25s ease,
                        fill .25s ease,
                        color .25s ease;
    -moz-transition: transform .25s ease,
                        fill .25s ease,
                        color .25s ease;
    transition: transform .25s ease,
                        fill .25s ease,
                        color .25s ease;
}

/* Padding for empty icons */
.empty-icon {
    width: 10px;
}

.empty-icon-more {
    width: 60px;
}

/* Edit */
#badge-overlay-edit:hover {
    fill: #51FF3D;
    color: #51FF3D;
}

/* Set */
#badge-overlay-visible:hover {
    fill: #F6FF00;
    color: #F6FF00;
}

/* Assign */
#badge-overlay-assign:hover {
    fill: #40F5FF;
    color: #40F5FF;
}

/* Delete */
#badge-overlay-delete:hover {
    fill: #FF3D3D;
    color: #FF3D3D;
}

.badge-overlay-icon {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin: auto 10px auto 10px;
    background-color: #000;
}

.badge-overlay-title {
    margin: auto 10px auto 10px;
    font-size: 12px;
}

/* "Create a New Badge" button */
.new-badge-container {
    -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.2);
    box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.2);
    background-color: #fff;
    width: 350px;
    height: 200px;
    border-spacing: 0px;
    border-collapse: separate;
    overflow: hidden;

    -webkit-transition: background-color .5s ease,
                        color .5s ease;
    -moz-transition: background-color .5s ease,
                        color .5s ease;
    transition: background-color .5s ease,
                        color .5s ease;
}

.new-badge-container:hover {
    background-color: #1d2738;
    color:#fff;

    -webkit-transition: background-color .5s ease,
                        color .5s ease;
    -moz-transition: background-color .5s ease,
                        color .5s ease;
    transition: background-color .5s ease,
                        color .5s ease;
}

.new-badge-outer {
    position: relative;
}

.new-badge-title {
    width: 100%;
    position: absolute;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    top: 43px;
}

.new-badge-plus {
    width: 100%;
    position: absolute;
    font-size: 100px;
    text-align: center;
    top: 25px;
}

/* Style for hidden/filtered-out badges */
.badge-list .hidden-earned-badge, .badge-list .hidden-in-progress, .badge-list .hidden-search {
    display: none;
}

/* "Manage Users" tables */
.dataTable > thead > tr > th, .dataTable > tbody > tr > td {
    border-right: 1px solid #dddddd;
}

.dataTable > thead > tr > th:last-child, .dataTable > tbody > tr > td:last-child {
    border-right: none;
}

/* Container for feedback messages */
.message-container {
    z-index: 1;
    float: right;
    position: absolute;
    left: -50%;
    width: 100%;
    text-align: center;
    display: block;
    bottom: 9%;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;

    -webkit-transition: visibility 0s ease, opacity .5s ease;
    -moz-transition: visibility 0s ease, opacity .5s ease;
    transition: visibility 0s ease, opacity .5s ease;
}

/* Feedback messages (the messages that pop up after you do an action) */
#message {
    border-radius: 5px;
    position: relative;
    left: 50%;
    min-width: 300px;
    width: 20%;
    margin: auto;

    padding-top: 7px;
    padding-bottom: 7px;

    background-color: rgba(227, 244, 255, 1);
    border: 1px solid #519ECF;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    color: #0F4D52;
}

#message > * {
    float: left;
    margin: 0;
    padding: 0;
}

/* Style for "list view" badges */
.badge-list-view {
    display: block;
    height: 40px;
    overflow: none;
    width: 98%;
    margin: auto;

    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
    background-color: #ffffff;

    border-spacing: 10px;
    border-collapse: separate;
    overflow: hidden;

    vertical-align: middle;

    margin-bottom: 15px;
}

.badge-list-view > .img-container {
    display: inline-block;
    width: 40px;
    padding: 5px;
}

.img-container > img {
    width: 100%;
    height: 100%;
}

.badge-list-view > .title {
    width: 225px;
    position: relative;
    top: 3px;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
}

.badge-list-view > .description {
    margin-left: 10px;
    position: relative;
    top: 2px;
    display: none;
}

@media all and (min-width: 768px) {
    .badge-list-view > .description {
        display: inline-block;
    }

    .badge-list-view > .title {
        border-right: 1px solid #dddddd;
    }
}

/* "Search badges" input form */
.badge-search {
    position: relative;
    z-index: 2;
    float: left;
    width: 375px;
    margin-bottom: 0;
}

.tab-content {
    width: 98%;
}


/* Badge Statistics */
.stats-table, .leaderboard-table {
    margin: auto;
    width: 100%;
    overflow: hidden;
}

.stats-row, .stats-row * img, .leaderboard-row {
    border-radius: 10px;
    overflow: hidden;
}

.stats-row, .leaderboard-row {
    width: 99%;
    font-size: 14px;
    margin-bottom: 5px;
    
    vertical-align: middle;
    background-color: rgba(0, 28, 46, 0.1);
}

.stats-row * {
    height: 52px;
    vertical-align: middle;
    overflow: hidden;
}

.leaderboard-row * {
    height: 35px;
    vertical-align: middle;
    overflow: hidden;
    line-height: 35px;
}

.stats-row * img {
    width: 50px;
    margin-right: 5px;
}

.stats-cell-left, .stats-cell-right, .leaderboard-row * {
    display: inline-block;
}

.stats-cell-right {
    background-color: rgba(0, 28, 46, 0.2);

    position: absolute;
    right: 19.5px;
    text-align: center;
    width: 75px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.stats-cell-left {
    font-size: 16px;
}

.stats-cell-right > p {
    font-size: 20px;
    margin-top: 12px;
}

.stats-btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Leaderboards (deprecated) */
.leaderboard-row {
    font-size: 16px;
    
}

.leaderboard-cell-left {
    width: 100px;
    background-color: rgba(0, 28, 46, 0.2);
    text-align: center;
    margin-right: 5px;
    border-radius: 10px;
    font-size: 20px;
    
}

.leaderboard-cell-right {
    background-color: rgba(0, 28, 46, 0.2);

    position: absolute;
    right: 23px;
    text-align: center;
    width: 130px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;   
    font-size: 20px;
    
}

.leaderboard-row * p {
    line-height: 35px;
}

.user-row {
    font-weight: 800;
}

.user-row > .leaderboard-cell-left, .user-row > .leaderboard-cell-right {
    background-color: rgba(0, 140, 101, 0.29);
}

/* Profiles/Collections */
#publicIdEditor {
    display: inline-block;
}

/* nts: hide badges from owners/moderators in the "My Badges window" */