{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block content %}

{% include "nav.html" %}

{% load instances %}
<style>
@media (min-width: 768px ) {
    .row {
        position: relative;
    }

    .bottom-align-text {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .bottom-align-text > button {
        float: right !important;
    }
}
</style>

<div class="container" style="padding-top: 70px;">

    <div class="row">
        <div class="col-sm-8">
            <h1>My Badges<small style="margin-left: 10px; font-size: 45%;">0 earned</small></h1>
        </div>
        <div class="col-sm-4 bottom-align-text">
            <button class="btn btn-primary" style="margin-bottom: 10px;" data-toggle="modal" href="#communityInvites">Community Invites</button>

            <div id="communityInvites" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title">My Community Invitations</h3>
                        </div>
                        <div class="modal-body">
                            {% if invitations %}
                            <table class="table table-striped table-compressed table-hover">
                                <thead>
                                    <tr>
                                        <th>Community Name</th>
                                        <th>Invited by</th>
                                        <th>Date Invited</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for invite in invitations %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'community' invite.community.tag %}">{{ invite.community.name }}</a>
                                            </td>
                                            <td>
                                                {{ invite.sender.username }}
                                            </td>
                                            <td>
                                                {{ invite.created_on }}
                                            </td>
                                        <tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                                <h4>You don't have any pending invites.</h4>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8 col-md-4">
            <div class="input-group">
                <input type="text" class="form-control input-sm" placeholder="Search badges">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top: 10px;">
          <label class="checkbox-inline"><input type="checkbox" value="">Hide Earned</label>
          <label class="checkbox-inline"><input type="checkbox" value="">Hide in Progress</label>
        </div>
    </div>
    <hr>

    <!-- {% for community in earner_communities %}
      {% for badge in community.badgeclass_set.all %}
        {{ badge }}

      {% endfor %}
    {% endfor %} -->

    {% if earner_communities %}

        {% for community in earner_communities %}
        {% with community|classes as community_classes %}
            <h2><a href="{% url 'community' community.tag %}">{{ community.tag }}</a>
                <small style="margin-left: 10px; font-size: 45%;">
                  {% with community|instances:user as my_instances %}
                  {{ my_instances.count }}/{{ community_classes.count }} earned
                  {% endwith %}
                </small>
            </h2>
            <div class="container">
                <!-- Display badge list -->
                {% if community_classes.count > 0 %}
                    <ul class="badge-list">
                        {% for badge in community|classes %}
                            <li>
                              {% if user in badge.instances.all %}
                                  {% include "badge/badge.html" with available=True image=badge.image.url name=badge.name desc=badge.description f_left=badge.created_on f_right='None'%}
                              {% else %}
                                  {% include "badge/badge.html" with available=False image=badge.image.url name=badge.name desc=badge.description f_left=badge.created_on f_right='None'%}
                              {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h4>This community has no available badges...</h4>
                {% endif %}
            </div>
            <hr>
        {% endwith %}
        {% endfor %}
    {% else %}
        <div class="container">
            <h2><small>You are not in any communities yet.</small></h2>
        </div>

    {% endif %}

</div>

{% endblock %}
