{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block content %}

{% include "nav.html" %}

<div class="container" style="padding-top: 70px;">

    <h1>Search results {% if search_input %}<small> for '{{ search_input }}'</small>{% endif %}</h1>
    <hr>
    {% if not search_input %}
        <h3>Bad search input given</h3>
    {% else %}
        {% if all_results %}
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Community name</th>
                        <th>Community description</th>
                        <th>Community tag</th>
                        <th>Is private</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in all_results %}
                    <tr>
                        <td><a href="{% url 'community' result.tag %}">{{ result.name }}</a></td>
                        <td>{{ result.description }}</td>
                        <td>{{ result.tag }}</td>
                        <td>{{ result.is_private }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3>No results found</h3>
        {% endif %}
    {% endif %}


{% endblock %}
