
<div id="aboutCommunity" class="tab-pane fade in {% if user_status == 'visitor' %}active{% endif %}">
    <div class="row">
        <div class="col-sm-6">
            <h3 style="margin-top: 0px;">
                Description
                {% if user_status == 'owner' %}
                    <small><a href="#" id="editDescription">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a></small>
                {% endif %}
            </h3>
            <div id="originalDescription">
                {{ community.description|linebreaksbr }}
            </div>
            {% if user_status == 'owner' %}
                <form method='POST'>{% csrf_token %}
                    {{ CDForm.description }}
                    <div class="row-fluid" style="margin-top: 10px;">
                        <button type="submit" name="submitDescription" id="saveDescription" class="btn btn-sm btn-success" style="display: none;">
                            Save
                        </button>
                    </div>
                </form>
            {% endif %}
        </div>
        <hr class="visible-xs">
        <div class="col-sm-3">
            <h3 style="margin-top: 0px;">
                Is private
                {% if user_status == 'owner' %}
                    <small><a href="#" id="editPrivacy">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a></small>
                {% endif %}
            </h3>
            <div id="originalPrivacy">
            {{ community.is_private }}
            </div>
            {% if user_status == 'owner' %}
                <form method='POST'>{% csrf_token %}
                    {{ CPForm.privacy }}
                    <div class="row-fluid">
                        <button type="submit" name='changePrivacySubmit' id="savePrivacy" class="btn btn-sm btn-success" style="display: none; margin-top: 10px;">
                            Save
                        </button>
                    </div>
                </form>
            {% endif %}
        </div>
        <hr class="visible-xs">
        <div class="col-sm-3">
            <h3 style="margin-top: 0px;">Created on</h3>
            {{ community.created_on }}
        </div>
    </div>

    <!-- Badge Statistics -->
    {% if badge_counts|length > 0 %}
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <h3 style="margin-top: 0px;">
                Most-Earned Badges
            </h3>
            <div class="stats-table">
                {% for entry in most_earned_badges %}
                <div class="stats-row">
                    <div class="stats-cell-left">
                        <img src="{{ entry.0.image.url }}"></img>
                        {{ entry.0.name }}
                    </div>
                    <div class="stats-cell-right">
                        <p>{{ entry.1 }}%</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <hr class="visible-xs">
        <div class="col-sm-6">
            <h3 style="margin-top: 0px;">
                Least-Earned Badges
            </h3>
            <div class="stats-table">
                {% for entry in least_earned_badges %}
                <div class="stats-row least-earned">
                    <div class="stats-cell-left">
                        <img src="{{ entry.0.image.url }}"></img>
                        {{ entry.0.name }}
                    </div>
                    <div class="stats-cell-right">
                        <p>{{ entry.1 }}%</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="clearfix visible-xs"></div>

    <button type="button" class="btn btn-info stats-btn" data-toggle="collapse" data-target="#demo">Display all</button>

    <div id="demo" class="collapse">
        <div class="row">
            <div class="col-sm-6">
                <h3 style="margin-top: 0px;">
                    Full Badge Statistics
                </h3>
                <div class="stats-table">
                    {% for entry in badge_counts %}
                    <div class="stats-row least-earned">
                        <div class="stats-cell-left">
                            <img src="{{ entry.0.image.url }}"></img>
                            {{ entry.0.name }}
                        </div>
                        <div class="stats-cell-right">
                            <p>{{ entry.1 }}%</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Leaderboard -->
    {% if leaderboard %}
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <h3 style="margin-top: 0px;">
                Leaderboard
            </h3>
        </div>
    </div>
    <div class="row">
        <div style="width: 90%; margin: auto;">
            <div class="table-responsive">
                <table class="table table-condensed table-striped table-hover" style="text-align:center;">
                    <thead>
                        <tr>
                            <th style="text-align:center;">Rank</th>
                            <th>Users</th>
                            <th style="text-align:center;">Badges Earned</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in leaderboard %}
                        {% if leaderboard_rank and entry.0 == leaderboard_rank %}
                        <tr class="user-row">
                        {% else %}
                        <tr>
                        {% endif %}
                            <td>{{ entry.0 }}</td>
                            <td style="text-align: left;">{{ entry.2|safe }}</td>
                            <td>{{ entry.1 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div style="margin-bottom:40px;"></div>
    {% endif %}
</div>

{% if user_status == 'owner' %}
    <!-- Community settings scripts -->
    <script language="JavaScript">
        $( document ).ready(function() {
            var communityDescription = '{% filter escapejs %}{{ community.description|safe }}{% endfilter %}';
            $("#descriptionEditor").val(communityDescription);

            // Toggle the editor
            $("#editDescription").click(function() {
              // toggle save button
              $("#saveDescription").toggle();
              // toggle existing description
              $("#originalDescription").toggle();
              // toggle description editor
              $("#descriptionEditor").toggle();
            });

            // Toggle the select
            $("#editPrivacy").click(function() {
              // toggle save button
              $("#savePrivacy").toggle();
              // toggle existing description
              $("#originalPrivacy").toggle();
              // toggle description editor
              $("#privacyEditor").toggle();
            });

        });
    </script>
{% endif %}