<table class="badge-container">
    <div class="badge-overlay">
        <div class="badge-overlay-content">
            <ul>
                <li href="#addBadge" role="button" data-toggle="modal">
                    <div class="badge-overlay-icon"><img src="https://puu.sh/s2awe/faeeabbee6.png"></div>
                    <div class="badge-overlay-title">EDIT</div>
                </li>
                <li href="#addBadge" role="button" data-toggle="modal">
                    <div class="badge-overlay-icon"><img src="https://puu.sh/s2awe/faeeabbee6.png"></div>
                    <div class="badge-overlay-title">SET</div>
                </li>
                <li href="#addBadge" role="button" data-toggle="modal">
                    <div class="badge-overlay-icon"><img src="https://puu.sh/s2awe/faeeabbee6.png"></div>
                    <div class="badge-overlay-title">ASSIGN</div>
                </li>
                <li href="#addBadge" role="button" data-toggle="modal">
                    <div class="badge-overlay-icon"><img src="https://puu.sh/s2awe/faeeabbee6.png"></div>
                    <div class="badge-overlay-title">DELETE</div>
                </li>
            </ul>
        </div>
    </div>
    <tr>
        <td rowspan="2" class="badge-image-container">
            <div class="badge-image">
                <img class="img-thumbnail" src="{{ image }}">
            </div>
        </td>
        <td class="badge-name">{{ name }}</td>
    </tr>
    <tr>
        <td class="badge-description">{{ desc }}</td>
    </tr>
    <tr>
        <td colspan="2" class="badge-footer">
            <div class="badge-footer-left">{{ f_left }}</div>
            <div class="badge-footer-right">{{ f_right }}</div>
        </td>
    </tr>
</table>
